email=ygygupta0@gmail.com
//localhost/nexus/repository/npm-group/:_authToken=NpmToken.3e792573-0045-34f2-80d6-7c13f82dbd7c
//localhost/nexus/repository/npm-hosted/:_authToken=NpmToken.3e792573-0045-34f2-80d6-7c13f82dbd7c
